<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" class="table">
    <mat-tab label="Next">
        <div fxLayout="row" fxLayoutAlign="start center" class="live-list">
            <ng-container class="cards">

                @for (live of nextLives; track live.id) {
                <mat-card class="card" fxFlex="0 1 calc(33.3% - 11px)" fxFlex.lt-md="0 1 calc(50% - 11px)"
                    fxFlex.lt-sm="100%">
                    <mat-card-title class="title">
                        <div class="row">
                            <p>
                                <span class="live_name">{{live.liveName}}</span>
                                <span></span>
                                <mat-chip class="mat-chip-date">
                                    <span class="live_date">
                                        {{live.liveDate | localDateTime}}
                                    </span>
                                </mat-chip>
                            </p>
                            <p>
                                <span class="live_channel">{{live.channelName}}</span>
                            </p>
                        </div>
                    </mat-card-title>

                    <mat-card-content class="content">
                        <div class="">
                            <iframe width="560" height="315" [src]="live.urlSafe" title="YouTube video player"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                    </mat-card-content>

                </mat-card>
                }


            </ng-container>
        </div>
    </mat-tab>
    <mat-tab label="Viewd">
        <div fxLayout="row" fxLayoutAlign="start center" class="live-list">
            <ng-container class="cards">

                @for (live of livesPrevious; track live.id) {
                <mat-card class="card" fxFlex="0 1 calc(33.3% - 11px)" fxFlex.lt-md="0 1 calc(50% - 11px)"
                    fxFlex.lt-sm="100%">
                    >
                    <mat-card-title class="title">
                        <div class="row">
                            <p>
                                <span class="live_name">{{live.liveName}}</span>
                                <span></span>
                                <mat-chip class="mat-chip-date">
                                    <span class="live_date">
                                        {{live.liveDate | localDateTime}}
                                    </span>
                                </mat-chip>
                            </p>
                            <p>
                                <span class="live_channel">{{live.channelName}}</span>
                            </p>
                        </div>
                    </mat-card-title>

                    <mat-card-content class="content">
                        <div class="">
                            <iframe width="560" height="315" [src]="live.urlSafe" title="YouTube video player"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                    </mat-card-content>

                </mat-card>
                }


            </ng-container>
        </div>
    </mat-tab>
</mat-tab-group>