.table {
    padding-top: 40px;
    padding-left: 2%;
    padding-right: 2%;
}

.live-list {
    padding: 2%;
}

.cards {
    margin: 0.5%;
}

.card {
    border: 1px solid #CFD8DC;
    border-radius: 4px 3px 6px / 2px 4px;
    padding-top: 15px;
    padding-left: 0%;
    padding-right: 0%;
    padding-bottom: 0%;
    margin: 5px;
}

.title {
    padding-left: 10px;
    padding-top: 0px;
    padding-right: 15px;
    margin-bottom: 0px;
    min-height: 70px;

    p {
        display: flex;
        justify-content: space-between;
    }
    .live_name {
        font-size: 0.9rem;
    }
    .live_date {
        font-size: 0.7rem;
    }

    .live_channel {
        font-size: 0.7rem;
    }
}